<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
        <title>Vue.js Calculator App</title>
    </head>

    <body>
        <div class="container">
            <h1>Type two numbers and choose an operation:</h2>
            <form class="form-inline">
                <!-- Notice here the special modifier 'number' is passed
                     in order to parse inputs as numbers. -->
                <input v-model.number="a" @keyup.enter="calculate" class="form-control">
                <select v-model="operation" class="form-control">
                    <option>+</option>
                    <option>-</option>
                    <option>*</option>
                    <option>/</option>
                </select>
                <!-- Notice here the special modifier 'number' is passed
                     in order to parse inputs as numbers. -->
                <input v-model.number="b" @keyup.entber="calculate" class="form-control">
                <!-- The submit event will no longer reload the page -->
                <button type="submit" @click.prevent="calculate" class="btn btn-primary">
                    Calculate
                </button>
            </form>
            <h2>Result: {{ a }} {{ operation }} {{ b }} = {{ c }}</h2>
            <!-- displays all data within Vue instance filtered through JSON -->
            <pre>{{ $data }}</pre>
        </div>
    </body>

    <script src="vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                a: 1,
                b: 2,
                c: null,
                operation: "+",
            },
            methods: {
                calculate() {
                    switch(this.operation) {
                        case "+":
                            this.c = this.a + this.b
                            break;
                        case "-":
                            this.c = this.a - this.b
                            break;
                        case "*":
                            this.c = this.a * this.b
                            break;
                        case "/":
                            this.c = this.a / this.b
                            break;
                    }
                }
            }
        });
    </script>
</html>
