<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <title>Vue.js: Calculator</title>
    </head>

    <body>
        <div class="container">
            <h1>Type 2 numbers and chose operation.</h1>
            <form class="form-inline">
                <!-- Notice here the special modifier 'number'
                is passed in order to parse inputs as numbers.-->
                <input v-model.number="a" class="form-control">
                <select v-model="operation" class="form-control">
                    <option>+</option>
                    <option>-</option>
                    <option>*</option>
                    <option>/</option>
                </select>
                <!-- Notice here the special modifier 'number'
                is passed in order to parse inputs as numbers.-->
                <input v-model.number="b" class="form-control">
                <button type="submit" @click="calculate" class="btn btn-primary">
                    Calculate
                </button>
            </form>
            <h2>Result: {{ a }} {{ operation }} {{ b }} = {{ c }}</h2>
            <pre>{{ $data }}</pre>
        </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                a: 1,
                b: 2,
                c: null,
                operation: "+",
            },
            methods: {
                calculate() {
                    event.preventDefault();
                    switch (this.operation) {
                        case "+":
                            this.c = this.a + this.b
                            break;
                        case "-":
                            this.c = this.a - this.b
                            break;
                        case "*":
                            this.c = this.a * this.b
                            break;
                        case "/":
                            this.c = this.a / this.b
                            break;
                    }
                }
            }
        })
    </script>
</html>
