<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
        <title>Computed Properties - Homework</title>
    </head>

    <body>
        <div class="container">
            <h1>People of Vue</h1>
            <ul class="list-group">
                <li v-for="candidate in candidates" class="list-group-item">
                    {{ candidate.name }} {{ candidate.votes }}
                    <!-- Increase votes 'on:click' -->
                    <button class="btn btn-default" @click="candidate.votes++">Vote</button>
                </li>
            </ul>
            <!-- listening for keyboard event -->
            <input @keyup.delete="clear" class="form-control" placeholder="press 'delete' to reset"></input>
            <!-- Display the name of the 'mayor' using a computed property -->
            <h2>Out mayor is {{ mayor.name }}!</h2>
            <!-- displays all data within Vue instance filtered through JSON -->
            <pre>{{ $data }}</pre>
            <pre>{{ mayor }}</pre>
        </div>
    </body>

    <script src="vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: ".container",
            data: {
                candidates: [
                    {name: "Mr. Black", votes: 140},
                    {name: "Mr. White", votes: 135},
                    {name: "Mr. Pink", votes: 145},
                    {name: "Mr. Brown", votes: 130},
                ]
            },
            computed: {
                mayor: function () {
                    // first we sort the array descending
                    var candidatesSorted = this.candidates.sort(function (a, b) {
                        return b.votes - a.votes;
                    });
                    // the mayor will be the first item
                    return candidatesSorted[0];
                }
            },
            methods: {
                // this method runs when the key 'delete' is pressed
                clear() {
                    //Turn votes of all candidate to 0 using map() function.
                    this.candidates = this.candidates.map(function (candidate) {
                        candidate.votes = 0;
                        return candidate;
                    })
                }
            }
        })
    </script>
</html>
