<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
        <title>Directives Example</title>
    </head>

    <body>
        <div id="app" align="center">
            <h1 v-if="!message">You must send a message for help!</h1>
            <h2 v-else>You have sent a message!</h2>
            <textarea v-model="message"></textarea>
            <button v-show="message">
                Send word to allies for help!
            </button>
            <!-- displays all data within Vue instance filtered through JSON -->
            <pre>{{ $data }}</pre>
        </div>
    </body>

    <script src="vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: "#app",
            data: {
                message: 'Our king is dead! Send help!',
            }
        })
    </script>
</html>
